<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }} · {{ .Site.Title }}</title>
</head>

<body>

    <h1>{{ .Title }}</h1>

    <p>
        {{ .Content }}
    </p>

    <hr>

    {{ range .Pages }}
        <article>
            <h2>{{ .Title }}</h2>

            <p>
                28 nm CMOS · 1.8 V · ~1.2 V output · 100 µA
            </p>

            <p>
                <a href="{{ .RelPermalink }}">
                    View Project →
                </a>
            </p>
        </article>
    {{ end }}

</body>
</html>